nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#1976d2;
    padding:15px;
}

h2{
    color:white;
    margin:0;
}

a{
    color:white;
    margin-left:15px;
    text-decoration:none;
}